<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap"
        rel="stylesheet">
    <style>
        .dot {
            height: 25px;
            width: 25px;
            border-radius: 50%;
            display: inline-block;
        }

        .push {
            margin-bottom: -50px;
        }
    </style>
</head>

<body style="background-color: #090119; font-family: poppins;" class="">
    <nav class="">
        <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8" style="color: #846ebc;">
            <div class="relative flex items-center justify-between h-16">
                <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">



                    </button>
                </div>

                <div class="sm:block sm:ml-6">
                    <div class="flex space-x-4">
                        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                        <a href="/" class="" aria-current="page" style="color: #846ebc;">Home</a>
                        <a href="/dashboard" class="" aria-current="page" style="color: #846ebc;">Dashboard</a>


                    </div>
                </div>
            </div>
            </button>

        </div>

    </nav>

    <div class="max-w-xl mx-auto text-white container">
        <h1 style="font-family: poppins; font-size: 4rem" class="text-center align-middle text-white font-normal">
            Hello, {{name}}</h1>
        <div class="row">


            {%for x in links%}
            <div class="rounded background-color-white text-center">

                <a href="/{{x['short']}}">
                    <h2>{{x['short']}}</h2>
                    <h2>{{x["url"]}}</h2>
                    {%if x["password"]%}
                    <h2>Password: {{x["password"]}}</h2>
                    {%endif%}
                </a>

            </div>
            {%endfor%}

                    </div>
        </form>
    </div>
    </div>
    

</body>

</html>