<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{slug}} is password protected</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <h1>Hey! Calm down! This URL is password-protected</h1>
    <form action="/redirect/{{slug}}" method="post">
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Enter password">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    {% if error %}
        <p>Hey! The password is not correct!</p>
    {% endif %}
    
</body>
</html>
